---
---

$blue: #5bc0de;
$dark-blue: #337ab7;
$dark-gray: #333;
$gray: #eee;
$green: #5cb85c;
$narrow: 768px;
$orange: #f0ad4e;
$red: #d9534f;
$transition: background-color 1s;
$white: #fff;

body {
  background-color: $dark-gray;
  font-size: 21px;
  padding-bottom: 20px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

body, .container-fluid a, .link-icons, .link-icons a, {
  color: $white;
}

.container {
  max-width: $narrow;
}

.container a, .container a:hover, footer a, footer a:hover {
  color: $dark-blue;
}

.container h1 {
  color: $blue;
  font-size: 60px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.container-fluid {
  height: 100vh;
  z-index: 3;
}

.container-fluid a {
  background: transparent;
  bottom: 0;
  font-size: 1.3em;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}

.container-fluid a:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.green-text {
  color: $green;
}

.green-text:hover {
  color: lighten($green, 10%);
}

.grid {
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  top: 0;
}

figcaption {
  padding-left: 5px;
}

figure {
  float: left;
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 15px;
  width: 292px;
}

footer {
  margin-top: 50px;
}

img {
  width: 290px;
}

.jumbotron {
  background-color: rgba(238, 238, 238, 0.7);
  border-radius: 4px;
  color: $dark-gray;
  margin-top: 18vh;
  max-width: $narrow;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
}

.jumbotron h1{
  font-size: 85px;
  font-weight: 700;
}

.jumbotron p {
  font-size: 35px;
}

.light {
  background-color: rgba(255, 255, 255, 0.5);
}

.link-icons {
  font-size: 150px;
}

.orange-text {
  color: $orange;
}

.orange-text:hover {
  color: lighten($orange, 10%);
}

#overlay-grid {
  z-index: -1;
}

.overlay-tile {
  transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
}

.red-text {
  color: $red;
}

.red-text:hover {
  color: lighten($red, 10%);
}

.tile {
  border: solid rgba(255, 255, 255, 0.2);
  border-bottom: 0px;
  border-left-width: 1px;
  border-right: 0px;
  border-top-width: 1px;
  float: left;
  height: 10vh;
  position: relative;
  width: 10%;
}

#tile-grid {
  z-index: -2;
}
