---
---

$blue: #5bc0de;
$dark-blue: #337ab7;
$dark-gray: #333;
$gray: #eee;
$green: #5cb85c;
$narrow: 768px;
$orange: #f0ad4e;
$red: #d9534f;
$transition: background-color 1s;
$white: #fff;

#about {
  background-color: $dark-blue;
  vertical-align: middle;
}

.blue-link a, .blue-link a:hover {
  color: $dark-blue;
}

body {
  font-size: 21px;
  padding-bottom: 20px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

body, .footer, .footer a, .jumbotron, .link-icons, .link-icons a, #masthead a {
  color: $white;
}

body, .jumbotron {
  background-color: $dark-gray;
}

.center {
  text-align: center;
}

#contact {
  background-color: $green;
}

.container {
  color: #eee;
  max-width: $narrow;
}

.container-fluid .jumbotron {
  border-radius: 0px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.footer {
  margin-top: 50px;
}

.green:hover {
  color: $green;
}

.grid {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
}

img {
  margin-right: 15px;
  width: 30%;
}

.img-rounded {
  border-radius: 4px;
}

.light {
  background-color: rgba(255, 255, 255, 0.5);
}

.link-icons {
  font-size: 7em;
}

#masthead {
  height: 100vh;
  margin-bottom: 30px;
  position: relative;
  z-index: 3;
}

#masthead a {
  background: transparent;
  bottom: 0;
  font-size: 1.3em;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}

#masthead a:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

#masthead .jumbotron {
  background-color: rgba(238, 238, 238, 0.7);
  border-radius: 4px;
  color: $dark-gray;
  margin-top: 20vh;
  max-width: $narrow;
}

#masthead .jumbotron h1 {
  font-size: 85px;
  font-weight: 700;
}

#masthead .jumbotron p {
  font-size: 35px;
}

.orange:hover {
  color: $orange;
}

#overlay-grid {
  z-index: -1;
}

.overlay-tile {
  transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
}

.red:hover {
  color: $red;
}

.tile {
  border: solid $white;
  border-bottom: 0px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right: 0px;
  float: left;
  height: 10vh;
  position: relative;
  width: 10%;
}

#tile-grid {
  z-index: -2;
}
