.about a {
  color: #337ab7;
}

.about a:hover {
  color: #337ab7;
}

body {
  background-color: #333;
  padding-bottom: 50px;
}

.center {
  text-align: center;
}

.container {
  color: #eee;
  font-size: 1.4em;
  max-width: 768px;
}

.container-fluid .jumbotron {
  border-radius: 0px;
}

.dark-blue {
  background-color: #337ab7;
}

.footer {
  color: #fff;
  font-size: 1.4em;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #5cb85c;
}

.footer-icons{
  font-size: 7em;
}

.green {
  background-color: #5cb85c;
}

.header {
  color: #fff;
  margin-top: 50px;
}

img {
  margin-right: 15px;
}

.orange {
  background-color: #f0ad4e;
}

.orange-text {
  color: #f0ad4e;
}

.orange-text:hover {
  color: #f0ad4e;
}

.overlay {
  z-index: 5;
}

.splash {
  height: 100vh;
  position: relative;
}

.splash a {
  background: transparent;
  bottom: 0;
  color: #fff;
  font-size: 2em;
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}

.splash a:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

.splash .jumbotron {
  background-color: rgba(238,238,238, 0.7);
  border-radius: 4px;
  margin-top: 20vh;
  max-width: 768px;
}

.splash .jumbotron h1 {
  font-size: 4.3em;
}

.splash .jumbotron p {
  font-size: 1.9em;
}

.tile {
  border: solid rgba(255, 255, 255, 0.7);
  border-bottom: 0px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right: 0px;
  float: left;
  height: 10vh;
  position: relative;
  width: 10%;
}

#tile-holder {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -2;
}
