---
css: main
layout: default
title: Lauren Hastings
---
<div class="container-fluid" id="masthead">
  <center>
    <div class="jumbotron">
      <h1>Lauren Hastings</h1>
      <p>Computer Science & Mathematics Student in Orlando, FL</p>
    </div>
  </center>
  <!-- Generates grid of solid tiles: -->
  <div class="grid" id="tile-grid">
    {% for i in (0..99) %}
      <div class="tile" id="tile-{{ i }}"></div>
    {% endfor %}
  </div>
  <!-- Generates grid of transparent tiles for lightening/darkening effect: -->
  <div class="grid" id="overlay-grid">
    {% for i in (0..99) %}
      <div class="overlay-tile tile" id="overlay-{{ i }}"></div>
    {% endfor %}
  </div>
  <a href="#about"><center><span class="glyphicon glyphicon-menu-down"></span></center></a>
</div>
<div class="container">
  <center id="about"><h1>Hi! I'm Lauren.</h1></center>
  <figure>
    <img src="files/me.jpg" class="img-responsive thumbnail" align="left">
    <figcaption>
      Me! Taken in my hometown of St. Petersburg, Florida.
    </figcaption>
  </figure>
  <p>
    I’m a junior at the <a href="https://www.ucf.edu" target="_blank"> University of Central Florida</a> in Orlando majoring in Computer Science & Mathematics. Thus far, I've had software development internships at Apple, Intel, and <a href="https://www.mitre.org" target="_blank">MITRE</a>. Now that the school year has started, I keep myself busy by working part-time as a Research Assistant for the UCF Intelligent Systems Lab, mentoring STEM-interested freshmen as a <a href="https://compass.ucf.edu/current-students/compass-mentors/" target="_blank"> COMPASS</a> mentor, and going to local Orlando developer meetups.
  </p>
  <p>
    When I'm not writing code or proofs, I'm usually reading tech news or in the middle of a Netflix binge. I'm also an avid foodie, cinephile, board-game enthusiast and player of indie games.
  </p>
  <p>
    Like any programmer, I don't like repeating myself, so instead of listing my technical experience on my website I'll re-direct you to my <a href="files/resume.pdf" target="_blank">resume</a>, <a href="https://www.linkedin.com/in/hastingsl" target="_blank">LinkedIn</a>, and <a href="https://www.github.com/hastingsl" target="_blank">Github</a> (where you can stare in wonder at my source code for this website, and any side projects I have time for).
  </p>
  <p>
    Feel free to email me or reach out on LinkedIn if you want to connect!
  </p>
  <center><h1>To learn more, check out:</h1></center>
  <center class="link-icons">
    <a href="http://hastingsl.github.io/files/resume.pdf" target="_blank"><i class="fa fa-file-o red-text"></i></a>
    <a href="https://www.github.com/hastingsl" target="_blank"><i class="fa fa-github green-text"></i></a>
    <a href="https://www.linkedin.com/in/hastingsl" target="_blank"><i class="fa fa-linkedin-square orange-text"></i></a>
  </center>
</div>
<footer>
  <center>
    <p>lhastingsa@gmail.com</p>
    <hr>
    <p>
      Made with HTML, CSS, JavaScript, <a href="https://jekyllrb.com" target="_blank">Jekyll</a>, <a href="https:getbootstrap.com" target="_blank">Bootstrap</a> and &#10084;.
    </p>
    <p><a href="#masthead">Show me the flashing tiles again!</a></p>
  </center>
</footer>
